html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #cae0f5;
    padding: 10px 20px 0px;
}
.header {
    min-height: 150px;
    margin: auto;
}
.content {
    background-color: white;
    border-top: 2px solid rgb(88, 73, 20) ;
    min-height: 300px;
    padding: 20px;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid #d0d7de;
    cursor: pointer;
}
table th{
    border:1px solid #d0d7de;
}
table td {
    border:1px solid #d0d7de;
}
table tbody tr:nth-child(even) td {
    background-color: #f6f8fa;
}
table tbody tr:hover td {
    background-color: hsl(0, 1%, 52%);
}
.footer {
    background-color: rgb(168, 221, 228);
    min-height: 150px;
}